In [21]:
import pandas as pd
import numpy as np
import psycopg2 as pg2

In [4]:
df_rank = pd.read_excel('../data/2013CountyHealthRankingsNationalData.xls', sheetname=1, header=1)

In [15]:
df_rank['FIPS'] = df_rank['FIPS'].apply(lambda x: str(x).zfill(5))

In [16]:
df_rank.head()

    FIPS    State   County   Z-Score Rank  Z-Score.1 Rank.1
0  01000  Alabama      NaN       NaN  NaN        NaN    NaN
1  01001  Alabama  Autauga -0.602250   15  -0.503973      9
2  01003  Alabama  Baldwin -1.352926    2  -0.803070      4
3  01005  Alabama  Barbour -0.029855   33   0.388564     57
4  01007  Alabama     Bibb  0.638328   53   0.291682     52

In [6]:
df_fips = pd.read_csv('../data/zip_county_fip.csv')

In [9]:
df_fips = df_fips.drop(['Unnamed: 0', 'res_ratio', 'bus_ratio', 'oth_ratio', 'tot_ratio'], axis=1)

In [10]:
df_fips.head()

   zip  county_fip
0  660       72067
1  669       72081
2  704       72123
3  729       72029
4  728       72113

In [11]:
df_fips['zip'] = df_fips['zip'].apply(lambda x: str(x).zfill(5))

In [13]:
df_fips['county_fip'] = df_fips['county_fip'].apply(lambda x: str(x).zfill(5))

In [14]:
df_fips.head()

     zip county_fip
0  00660      72067
1  00669      72081
2  00704      72123
3  00729      72029
4  00728      72113

In [17]:
df_merge = pd.merge(df_rank, df_fips, left_on='FIPS', right_on='county_fip')

In [20]:
df_merge[df_merge['County']=='Weston']

,FIPS,State,County,Z-Score,Rank,Z-Score.1,Rank.1,zip,county_fip
38937,56045,Wyoming,Weston,-0.262145,9,0.051996,13,82730,56045
38938,56045,Wyoming,Weston,-0.262145,9,0.051996,13,82701,56045
38939,56045,Wyoming,Weston,-0.262145,9,0.051996,13,82723,56045
38940,56045,Wyoming,Weston,-0.262145,9,0.051996,13,82715,56045

In [25]:
df_merge.to_csv('../data/county_health_ranks.csv', index=False)