In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('~/medicare-project/data/pp_npi_13.tab', sep='\t')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.columns

Index([u'NPI', u'NPPES_PROVIDER_LAST_ORG_NAME', u'NPPES_PROVIDER_FIRST_NAME',
       u'NPPES_PROVIDER_MI', u'NPPES_CREDENTIALS', u'NPPES_PROVIDER_GENDER',
       u'NPPES_ENTITY_CODE', u'NPPES_PROVIDER_STREET1',
       u'NPPES_PROVIDER_STREET2', u'NPPES_PROVIDER_CITY',
       u'NPPES_PROVIDER_ZIP', u'NPPES_PROVIDER_STATE',
       u'NPPES_PROVIDER_COUNTRY', u'SPECIALTY_DESC', u'DESCRIPTION_FLAG',
       u'BENE_COUNT', u'TOTAL_CLAIM_COUNT', u'TOTAL_DRUG_COST',
       u'TOTAL_DAY_SUPPLY', u'BENE_COUNT_GE65', u'BENE_COUNT_GE65_REDACT_FLAG',
       u'TOTAL_CLAIM_COUNT_GE65', u'GE65_REDACT_FLAG', u'TOTAL_DRUG_COST_GE65',
       u'TOTAL_DAY_SUPPLY_GE65', u'BRAND_CLAIM_COUNT', u'BRAND_REDACT_FLAG',
       u'BRAND_CLAIM_COST', u'GENERIC_CLAIM_COUNT', u'GENERIC_REDACT_FLAG',
       u'GENERIC_CLAIM_COST', u'OTHER_CLAIM_COUNT', u'OTHER_REDACT_FLAG',
       u'OTHER_CLAIM_COST', u'MAPD_CLAIM_COUNT', u'MAPD_REDACT_FLAG',
       u'MAPD_CLAIM_COST', u'PDP_CLAIM_COUNT', u'PDP_REDACT_FLAG',
       u'PDP_CLAIM_COST', u'LIS_CLAIM_COUNT', u'LIS_REDACT_FLAG',
       u'LIS_CLAIM_COST', u'NONLIS_CLAIM_COUNT', u'NONLIS_REDACT_FLAG',
       u'NONLIS_CLAIM_COST'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049381 entries, 0 to 1049380
Data columns (total 46 columns):
NPI                             1049381 non-null int64
NPPES_PROVIDER_LAST_ORG_NAME    1049354 non-null object
NPPES_PROVIDER_FIRST_NAME       1042614 non-null object
NPPES_PROVIDER_MI               775539 non-null object
NPPES_CREDENTIALS               1006429 non-null object
NPPES_PROVIDER_GENDER           1042626 non-null object
NPPES_ENTITY_CODE               1049381 non-null object
NPPES_PROVIDER_STREET1          1049380 non-null object
NPPES_PROVIDER_STREET2          439566 non-null object
NPPES_PROVIDER_CITY             1049380 non-null object
NPPES_PROVIDER_ZIP              1049380 non-null object
NPPES_PROVIDER_STATE            1049381 non-null object
NPPES_PROVIDER_COUNTRY          1049381 non-null object
SPECIALTY_DESC                  1049381 non-null object
DESCRIPTION_FLAG                1049381 non-null object
BENE_COUNT                      905381 non-null float64
TOTAL_CLAIM_COUNT               1049381 non-null int64
TOTAL_DRUG_COST                 1049381 non-null float64
TOTAL_DAY_SUPPLY                1049381 non-null int64
BENE_COUNT_GE65                 598228 non-null float64
BENE_COUNT_GE65_REDACT_FLAG     451153 non-null object
TOTAL_CLAIM_COUNT_GE65          823082 non-null float64
GE65_REDACT_FLAG                226299 non-null object
TOTAL_DRUG_COST_GE65            823082 non-null float64
TOTAL_DAY_SUPPLY_GE65           823082 non-null float64
BRAND_CLAIM_COUNT               571130 non-null float64
BRAND_REDACT_FLAG               478251 non-null object
BRAND_CLAIM_COST                571130 non-null float64
GENERIC_CLAIM_COUNT             758402 non-null float64
GENERIC_REDACT_FLAG             290979 non-null object
GENERIC_CLAIM_COST              758402 non-null float64
OTHER_CLAIM_COUNT               756433 non-null float64
OTHER_REDACT_FLAG               292948 non-null object
OTHER_CLAIM_COST                756433 non-null float64
MAPD_CLAIM_COUNT                809090 non-null float64
MAPD_REDACT_FLAG                240291 non-null object
MAPD_CLAIM_COST                 809090 non-null float64
PDP_CLAIM_COUNT                 809075 non-null float64
PDP_REDACT_FLAG                 240306 non-null object
PDP_CLAIM_COST                  809075 non-null float64
LIS_CLAIM_COUNT                 821902 non-null float64
LIS_REDACT_FLAG                 227479 non-null object
LIS_CLAIM_COST                  821902 non-null float64
NONLIS_CLAIM_COUNT              821904 non-null float64
NONLIS_REDACT_FLAG              227477 non-null object
NONLIS_CLAIM_COST               821904 non-null float64
dtypes: float64(20), int64(3), object(23)
memory usage: 376.3+ MB

In [6]:
df.describe()

,NPI,BENE_COUNT,TOTAL_CLAIM_COUNT,TOTAL_DRUG_COST,TOTAL_DAY_SUPPLY,BENE_COUNT_GE65,TOTAL_CLAIM_COUNT_GE65,TOTAL_DRUG_COST_GE65,TOTAL_DAY_SUPPLY_GE65,BRAND_CLAIM_COUNT,...,OTHER_CLAIM_COUNT,OTHER_CLAIM_COST,MAPD_CLAIM_COUNT,MAPD_CLAIM_COST,PDP_CLAIM_COUNT,PDP_CLAIM_COST,LIS_CLAIM_COUNT,LIS_CLAIM_COST,NONLIS_CLAIM_COUNT,NONLIS_CLAIM_COST
count,1.049381e+06,905381.000000,1049381.000000,1049381.000000,1049381.000000,598228.000000,823082.000000,823082.000000,823082.000000,571130.000000,...,756433.000000,756433.000000,809090.000000,809090.000000,809075.000000,809075.000000,821902.000000,821902.000000,821904.000000,821904.000000
mean,1.499770e+09,143.220327,1303.850100,98739.983028,50160.206527,147.775632,1219.969788,82489.200510,49586.146345,477.070579,...,14.115796,424.670004,543.941299,35468.607961,1116.900413,90128.302617,769.260613,62619.193698,877.010919,62142.165644
std,2.879001e+08,182.636813,3151.892795,239065.735672,118671.790811,172.945464,2791.054295,181413.099186,109466.690779,1003.028342,...,47.954751,1593.841821,1520.792229,93495.514314,2594.296269,207102.326345,2206.379800,176762.428973,1863.560969,136110.085719
min,1.003000e+09,11.000000,11.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.245588e+09,31.000000,49.000000,1553.850000,885.000000,41.000000,60.000000,2020.305000,1165.000000,16.000000,...,0.000000,0.000000,25.000000,640.392500,58.000000,2012.340000,35.000000,1214.900000,45.000000,1426.175000
50%,1.497978e+09,78.000000,183.000000,8999.200000,4158.000000,93.000000,206.000000,11427.120000,5663.000000,74.000000,...,0.000000,0.000000,80.000000,3905.465000,208.000000,12249.330000,123.000000,7261.645000,154.500000,7781.880000
75%,1.740597e+09,191.000000,956.000000,80976.370000,33517.000000,199.000000,981.000000,78500.182500,37737.750000,539.000000,...,0.000000,0.000000,360.000000,26403.000000,971.000000,87030.330000,537.000000,47279.302500,732.000000,57007.830000
max,1.993000e+09,24164.000000,191530.000000,16602543.110000,4339456.000000,20500.000000,166171.000000,9916113.310000,3792242.000000,52896.000000,...,4862.000000,263386.800000,60924.000000,5911482.020000,162897.000000,16021788.420000,164645.000000,11884165.390000,55870.000000,8848213.970000

In [7]:
df.shape

(1049381, 46)

In [8]:
df.head()

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,MAPD_CLAIM_COST,PDP_CLAIM_COUNT,PDP_REDACT_FLAG,PDP_CLAIM_COST,LIS_CLAIM_COUNT,LIS_REDACT_FLAG,LIS_CLAIM_COST,NONLIS_CLAIM_COUNT,NONLIS_REDACT_FLAG,NONLIS_CLAIM_COST
0,1447268107,10 PARK PHARMACY INC.,NaN,NaN,NaN,NaN,O,53 E 34TH ST,NaN,NEW YORK,...,NaN,NaN,#,NaN,0,NaN,0,18,NaN,885.23
1,1174856348,"101 FAMILY MEDICAL GROUP,A PROFESSIONAL CORP",NaN,NaN,NaN,NaN,O,22030 SHERMAN WAY STE 101,NaN,CANOGA PARK,...,NaN,NaN,#,NaN,NaN,#,NaN,NaN,*,NaN
2,1720181522,"154ST STREET MEDICAL PLAZA, INC.",NaN,NaN,NaN,NaN,O,5801 MIAMI LAKES DR E,NaN,MIAMI LAKES,...,NaN,NaN,*,NaN,NaN,*,NaN,NaN,#,NaN
3,1821285826,21ST CENTURY ONCOLOGY LLC,NaN,NaN,NaN,NaN,O,21150 BISCAYNE BLVD,SUITE 404,AVENTURA,...,NaN,NaN,*,NaN,NaN,*,NaN,NaN,#,NaN
4,1457520132,3 SUNS INVESTMENT INC,NaN,NaN,NaN,NaN,O,3136 SQUALICUM PKWY,STE. B,BELLINGHAM,...,NaN,NaN,#,NaN,NaN,*,NaN,NaN,#,NaN

In [10]:
df_drug = pd.read_csv('pp_npi_drug_13.tab', sep='\t')

In [11]:
df_drug.shape

(23650520, 19)

In [12]:
df_drug.head()

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_CITY,NPPES_PROVIDER_STATE,SPECIALTY_DESC,DESCRIPTION_FLAG,DRUG_NAME,GENERIC_NAME,BENE_COUNT,TOTAL_CLAIM_COUNT,TOTAL_DAY_SUPPLY,TOTAL_DRUG_COST,BENE_COUNT_GE65,BENE_COUNT_GE65_REDACT_FLAG,TOTAL_CLAIM_COUNT_GE65,GE65_REDACT_FLAG,TOTAL_DAY_SUPPLY_GE65,TOTAL_DRUG_COST_GE65
0,1821285826,21ST CENTURY ONCOLOGY LLC,NaN,AVENTURA,FL,Urology,S,TAMSULOSIN HCL,TAMSULOSIN HCL,NaN,12,360,142.14,NaN,*,NaN,*,NaN,NaN
1,1093969024,"A PRESTIGE WELLNESS CENTER, PA",NaN,DORAL,FL,Internal Medicine,S,PANTOPRAZOLE SODIUM,PANTOPRAZOLE SODIUM,NaN,12,360,196.37,NaN,*,NaN,*,NaN,NaN
2,1518048750,A VILES,OMAR,MINEOLA,NY,Pediatric Medicine,S,VENLAFAXINE HCL ER,VENLAFAXINE HCL,NaN,12,360,161.69,0,NaN,0,NaN,0,0
3,1952310666,A'BODJEDI,ENENGE,STAMFORD,CT,Psychiatry,S,ABILIFY,ARIPIPRAZOLE,NaN,14,420,12705.73,0,NaN,0,NaN,0,0
4,1952310666,A'BODJEDI,ENENGE,STAMFORD,CT,Psychiatry,S,ALENDRONATE SODIUM,ALENDRONATE SODIUM,NaN,17,480,107.83,NaN,#,NaN,#,NaN,NaN

NameError: name 'df' is not defined