In [1]:
import model_function as mf

/home/ubuntu/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:43: DeprecationWarning: This module has been deprecated in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/data/npi_2013_clean1.csv')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,npi,last_name,first_name,entity_code,provider_zip,provider_city,specialty_desc,bene_count,total_claim_count,...,lis_claim_cost,nonlis_claim_count,nonlis_claim_cost,brand_claim_cost_avg,generic_claim_cost_avg,other_claim_cost_avg,mapd_claim_cost_avg,pdp_claim_cost_avg,lis_claim_cost_avg,nonlis_claim_cost_avg
0,0,1447268107,10 PARK PHARMACY INC.,NaN,O,100164332,NEW YORK,Pharmacist,12,18,...,0.000000,18.0,885.230000,321.16685,28.298063,35.031374,127.952029,100.548657,154.74375,123.493166
1,355,1952668477,ABANTE,CAROLYN,I,875011456,SANTA FE,Pharmacist,24,24,...,851.090628,5.5,679.212411,321.16685,28.298063,35.031374,127.952029,100.548657,154.74375,123.493166
2,501,1114065679,ABBAS,AGHA,I,104515504,BRONX,Pharmacist,13,26,...,851.090628,5.5,679.212411,321.16685,28.298063,35.031374,127.952029,100.548657,154.74375,123.493166
3,643,1558621474,ABBASPOUR,ABBAS,I,972091029,PORTLAND,Pharmacist,12,12,...,851.090628,5.5,679.212411,321.16685,28.298063,35.031374,127.952029,100.548657,154.74375,123.493166
4,849,1427388651,ABBOTT,KRISTINA,I,850231359,PHOENIX,Pharmacist,25,26,...,851.090628,5.5,679.212411,321.16685,28.298063,35.031374,127.952029,100.548657,154.74375,123.493166

In [5]:
X_train, X_test = mf.make_train_test_dataset(df)

In [6]:
keep_cols = ['generic_claim_cost_avg', 'brand_claim_cost_avg']

In [7]:
mod_if = mf.fit_model(X_train, keep_cols)

[Parallel(n_jobs=8)]: Done   8 out of   8 | elapsed:   39.3s finished

In [8]:
df_labels = pd.read_csv('../data/medicare_labels_2013.csv')

In [9]:
test_df = mf.check_labels(df_labels, X_test, keep_cols, mod_if)

TypeError: check_labels() takes exactly 3 arguments (4 given)