In [1]:
import pandas as pd
import numpy as np

In [2]:
df_fips = pd.read_csv('../../medicare_data/statecountycity.csv')

In [3]:
df_fips.head()

,ISO31662A2(State),FIPS 5-2(State),ShortName(City),FIPS 55-3(City),FIPS 6-4(County(s)),FormalName(County(s))
0,AL,1,Abanda,100,017,Chambers County
1,AL,1,Abbeville,124,067,Henry County
2,AL,1,Adamsville,460,073,Jefferson County
3,AL,1,Addison,484,133,Winston County
4,AL,1,Akron,676,065,Hale County

In [4]:
df_fips.columns = ['state', 'state_fips', 'city', 'city_fips', 'county_fips', 'county']

In [5]:
df_fips['state_fips'] = df_fips['state_fips'].apply(lambda x: str(x).zfill(2))

In [6]:
df_fips['county_fips_1'] = df_fips['county_fips'].apply(lambda x: x.split(',')[0])

In [10]:
df_fips['county_1'] = df_fips['county'].apply(lambda x: x.split(',')[0])

In [13]:
df_fips['county_full'] = df_fips['state_fips'] + df_fips['county_fips_1']

In [14]:
df_fips.head()

,state,state_fips,city,city_fips,county_fips,county,county_fips_1,county_1,county_full
0,AL,01,Abanda,100,017,Chambers County,017,Chambers County,01017
1,AL,01,Abbeville,124,067,Henry County,067,Henry County,01067
2,AL,01,Adamsville,460,073,Jefferson County,073,Jefferson County,01073
3,AL,01,Addison,484,133,Winston County,133,Winston County,01133
4,AL,01,Akron,676,065,Hale County,065,Hale County,01065

In [16]:
df_zip = pd.read_excel('../../medicare_data/ZIP_COUNTY_122013.xlsx')

In [17]:
df_zip.head()

   ZIP  COUNTY  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  660   72067   0.999415   1.000000   1.000000   0.999445
1  669   72081   1.000000   1.000000   1.000000   1.000000
2  704   72123   1.000000   1.000000   1.000000   1.000000
3  729   72029   0.968507   0.984127   0.993289   0.969654
4  728   72113   1.000000   1.000000   1.000000   1.000000

In [18]:
df_zip.columns = ['zip', 'county_fip', 'res_ratio', 'bus_ratio', 'oth_ratio', 'tot_ratio']

In [19]:
df_zip['zip'] = df_zip['zip'].apply(lambda x: str(x).zfill(5))

In [20]:
df_zip['county_fip'] = df_zip['county_fip'].apply(lambda x: str(x).zfill(5))

In [21]:
df_zip.head()

     zip county_fip  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00660      72067   0.999415   1.000000   1.000000   0.999445
1  00669      72081   1.000000   1.000000   1.000000   1.000000
2  00704      72123   1.000000   1.000000   1.000000   1.000000
3  00729      72029   0.968507   0.984127   0.993289   0.969654
4  00728      72113   1.000000   1.000000   1.000000   1.000000

In [23]:
df_merge = pd.merge(df_fips[['state', 'city', 'county_1', 'county_full']], df_zip[['zip', 'county_fip']],
                   left_on=['county_full'], right_on=['county_fip'])

In [24]:
df_merge.head()

  state    city         county_1 county_full    zip county_fip
0    AL  Abanda  Chambers County       01017  36852      01017
1    AL  Abanda  Chambers County       01017  36855      01017
2    AL  Abanda  Chambers County       01017  36879      01017
3    AL  Abanda  Chambers County       01017  36862      01017
4    AL  Abanda  Chambers County       01017  36274      01017

In [27]:
df_merge[df_merge['zip'] == '36850']

     state            city           county_1 county_full    zip county_fip
8       AL          Abanda    Chambers County       01017  36850      01017
18      AL         Cusseta    Chambers County       01017  36850      01017
28      AL     Five Points    Chambers County       01017  36850      01017
38      AL        Fredonia    Chambers County       01017  36850      01017
48      AL         Huguley    Chambers County       01017  36850      01017
58      AL      La Fayette    Chambers County       01017  36850      01017
68      AL          Lanett    Chambers County       01017  36850      01017
78      AL          Penton    Chambers County       01017  36850      01017
88      AL   Standing Rock    Chambers County       01017  36850      01017
98      AL          Valley    Chambers County       01017  36850      01017
108     AL         Waverly    Chambers County       01017  36850      01017
4694    AL  Alexander City  Tallapoosa County       01123  36850      01123
4706    AL       Camp Hill  Tallapoosa County       01123  36850      01123
4718    AL       Dadeville  Tallapoosa County       01123  36850      01123
4730    AL        Daviston  Tallapoosa County       01123  36850      01123
4742    AL       Goldville  Tallapoosa County       01123  36850      01123
4754    AL    Hackneyville  Tallapoosa County       01123  36850      01123
4766    AL   Jacksons' Gap  Tallapoosa County       01123  36850      01123
4778    AL        New Site  Tallapoosa County       01123  36850      01123
4790    AL        Our Town  Tallapoosa County       01123  36850      01123
4802    AL        Reeltown  Tallapoosa County       01123  36850      01123
7030    AL          Auburn         Lee County       01081  36850      01081
7046    AL      Loachapoka         Lee County       01081  36850      01081
7062    AL       Notasulga         Lee County       01081  36850      01081
7078    AL         Opelika         Lee County       01081  36850      01081
7094    AL     Phenix City         Lee County       01081  36850      01081
7110    AL  Smiths Station         Lee County       01081  36850      01081

In [29]:
df_fips[df_fips['county_full']=='01017']

,state,state_fips,city,city_fips,county_fips,county,county_fips_1,county_1,county_full
0,AL,01,Abanda,100,017,Chambers County,017,Chambers County,01017
123,AL,01,Cusseta,19216,017,Chambers County,017,Chambers County,01017
175,AL,01,Five Points,26200,017,Chambers County,017,Chambers County,01017
186,AL,01,Fredonia,28120,017,Chambers County,017,Chambers County,01017
268,AL,01,Huguley,36592,017,Chambers County,017,Chambers County,01017
290,AL,01,La Fayette,40672,017,Chambers County,017,Chambers County,01017
293,AL,01,Lanett,41296,017,Chambers County,017,Chambers County,01017
409,AL,01,Penton,59016,017,Chambers County,017,Chambers County,01017
497,AL,01,Standing Rock,72720,017,Chambers County,017,Chambers County,01017
539,AL,01,Valley,78204,017,Chambers County,017,Chambers County,01017
555,AL,01,Waverly,80256,"017,081","Chambers County, Lee County",017,Chambers County,01017

In [33]:
df_fips.to_csv('..')

OperationalError: (OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?
 None None